 /* cyrillic-ext */
 @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oswald/v40/TK3IWkUHHAIjg75cFRf3bXL8LICs1_Fv40pKlN4NNSeSASz7FmlbHYjedg.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oswald/v40/TK3IWkUHHAIjg75cFRf3bXL8LICs1_Fv40pKlN4NNSeSASz7FmlSHYjedg.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* vietnamese */
    @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oswald/v40/TK3IWkUHHAIjg75cFRf3bXL8LICs1_Fv40pKlN4NNSeSASz7FmlZHYjedg.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oswald/v40/TK3IWkUHHAIjg75cFRf3bXL8LICs1_Fv40pKlN4NNSeSASz7FmlYHYjedg.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oswald/v40/TK3IWkUHHAIjg75cFRf3bXL8LICs1_Fv40pKlN4NNSeSASz7FmlWHYg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* cyrillic-ext */
    @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oswald/v40/TK3IWkUHHAIjg75cFRf3bXL8LICs1_Fv40pKlN4NNSeSASz7FmlbHYjedg.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oswald/v40/TK3IWkUHHAIjg75cFRf3bXL8LICs1_Fv40pKlN4NNSeSASz7FmlSHYjedg.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* vietnamese */
    @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oswald/v40/TK3IWkUHHAIjg75cFRf3bXL8LICs1_Fv40pKlN4NNSeSASz7FmlZHYjedg.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oswald/v40/TK3IWkUHHAIjg75cFRf3bXL8LICs1_Fv40pKlN4NNSeSASz7FmlYHYjedg.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oswald/v40/TK3IWkUHHAIjg75cFRf3bXL8LICs1_Fv40pKlN4NNSeSASz7FmlWHYg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* cyrillic-ext */
    @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oswald/v40/TK3IWkUHHAIjg75cFRf3bXL8LICs1_Fv40pKlN4NNSeSASz7FmlbHYjedg.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oswald/v40/TK3IWkUHHAIjg75cFRf3bXL8LICs1_Fv40pKlN4NNSeSASz7FmlSHYjedg.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* vietnamese */
    @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oswald/v40/TK3IWkUHHAIjg75cFRf3bXL8LICs1_Fv40pKlN4NNSeSASz7FmlZHYjedg.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oswald/v40/TK3IWkUHHAIjg75cFRf3bXL8LICs1_Fv40pKlN4NNSeSASz7FmlYHYjedg.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oswald/v40/TK3IWkUHHAIjg75cFRf3bXL8LICs1_Fv40pKlN4NNSeSASz7FmlWHYg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* cyrillic-ext */
    @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oswald/v40/TK3IWkUHHAIjg75cFRf3bXL8LICs1_Fv40pKlN4NNSeSASz7FmlbHYjedg.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oswald/v40/TK3IWkUHHAIjg75cFRf3bXL8LICs1_Fv40pKlN4NNSeSASz7FmlSHYjedg.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* vietnamese */
    @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oswald/v40/TK3IWkUHHAIjg75cFRf3bXL8LICs1_Fv40pKlN4NNSeSASz7FmlZHYjedg.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oswald/v40/TK3IWkUHHAIjg75cFRf3bXL8LICs1_Fv40pKlN4NNSeSASz7FmlYHYjedg.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oswald/v40/TK3IWkUHHAIjg75cFRf3bXL8LICs1_Fv40pKlN4NNSeSASz7FmlWHYg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
:root {
    --base-color: #F8F6FA;
    --light-pink-bg: rgba(203, 71, 160, 0.3);
    --light-green-bg: rgba(0, 255, 133, 0.2);
    --base-gradient: linear-gradient(97.62deg, #EB11AA -15.99%, #2E81E2 104.3%);
    --green: #09F5C4;
    --bg-dark: #0A0C26;
    --light-silver: rgba(46, 47, 64, 0.3);
}

*, 
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--base-color);
    background-color: var(--bg-dark);
    margin: 0;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    outline: none;
    border: none;
    background-color: transparent;
}

img {
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

input, select, button, textarea {
    font: inherit;
    margin: 0;
}

.container {
    max-width: 1080px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.container_center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.text {
    opacity: 0.7;
}

/* btn start */
.btn {
    width: 160px;
    height: 55px;
    text-transform: uppercase;
    background: var(--base-gradient);
    color: #F5E8F3;
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.btn_transparent {
    position: relative;
    background: transparent;
    z-index: 0;
}

.btn_transparent:after {
    content: '';
    position: absolute;
    clip-path: polygon(1% 4%, 1% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 97%, 99% 97%, 99% 4%);
    background: var(--base-gradient);
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 2px;
}

.btn_small {
    width: 70px;
    height: 50px;
}

/* btn end */

/* title start*/
.title {
    font-weight: bold;
    line-height: 120%;
}

.title_large {
    font-size: 61px;
}

.title_base {
    font-size: 49px;
}

.title_center {
    text-align: center;
}

.title-small {
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
}

.title__slogan { 
    color: var(--green);
    text-transform: uppercase;
}
/* title end*/

/* content start */
.content__text {
    margin-top: 25px;
}

.content__btn {
    margin-top: 35px;
}
/* content end */

/* header */
.header {
    position: relative;
}

.header::before {
    content: '';
    position: absolute;
    background-image: url('/img/pink-elipse-header.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 700px;
    height: 7650px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo__img {
    width: 42px;
    height: 42px;
    margin-right: 15px;
}

.logo__text {
    font-size: 25px;
    line-height: 150%;
}

.header-nav-wrap {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

.nav__item {
    margin-right: 40px;
}

.nav__link {
    opacity: 0.6;
    transition: 0.3s;
}

.nav__link.nav__link--active,
.nav__link:hover {
    opacity: 1;
}

/* main */
.hero{
    margin-top: 115px;
}
.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero__content{
    width: 407px;
}

.hero__text {
    margin-top: 25px;
}

.main__text {
    opacity: 0.6;
    margin-top: 25px;
}
.hero__btns-wrap {
    display: flex;
    align-items: center;
    margin-top: 35px;
}
.hero__btn {
    margin-left: 20px;
}
.hero__img{
    width: 574px;
    height: 710px;
    object-fit: contain;
}
.counter{
    display: flex;
    align-items: center;
    background: var(--light-silver);
    backdrop-filter: blur(4px);
    border-radius: 2px;
}
.hero__counter {
    margin-top: 65px;
}


.counter__part{
    font-size: 13px;
    line-height: 133.3%;
    padding: 30px;
}
.counter__part_deco{
    position: relative;
}
.counter__part_deco::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 1px;
    height: 64px;
    background-color: var(--base-color);
}

.counter__title {
    margin-bottom: 10px;
}

.counter__number {
    font-weight: 500;
    font-size: 31px;
    line-height: 140%;
    margin-bottom: 10px;
}

.counter__price {
    opacity: 0.5;
}
/* hero and */

/* line start */
.line {
    width: 100%;
    background: linear-gradient(89.96deg, rgba(203, 71, 160, 0.5) 0.02%, rgba(105, 71, 203, 0.5) 49.47%, rgba(0, 255, 133, 0.5) 99.97%);
    backdrop-filter: blur(12px);
    padding: 60px 110px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}

.line:before {
    content: '';
    position: absolute;
    width: 985px;
    height: 930px;
    top: -140px;
    left: 0;
    transform: translateX(-50%);
    background-color: var(--light-pink-bg);
    filter: blur(472px);
    z-index: -1;
}

.line:after {
    content: '';
    position: absolute;
    width: 630px;
    height: 595px;
    top: 75px;
    right: 0;
    background-color: var(--light-green-bg);
    filter: blur(472px);
    z-index: -1;
}

.line-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.line-block {
    text-align: center;
    gap: 10px;
    color: var(--base-color);
}

.line-number {
    font-weight: 500;
    font-size: 61px;
    line-height: 120%;
}

.line-text {
    font-weight: normal;
    font-size: 25px;
    line-height: 150%;
}
/* line end */

/* about start */
.about {
    margin-top: 130px;
}

.about__photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 25px;
}

.photo {
    width: 250px;
    height: 250px;
}

.about__content {
    margin-left: 115px;
}
/* about and */

/* benefits start */
.befenits {
    margin-top: 180px;
}

.benefits__blocks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 75px 25px;
    margin-left: 35px;
}
/* benefits end */

/* block start */
.block {
    width: 345px;
    height: 225px;
    position: relative;
    background: rgba(46, 47, 64, 0.3);
    backdrop-filter: blur(4px);
    border-radius: 2px;
    text-align: center;
    padding: 80px 30px 30px 30px;
}

.block::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 50px;
}

.block_pink:before {
    top: 10px;
    background: radial-gradient(47.67% 47.67% at 50% 50%, 
                rgba(202, 71, 160, 0.12) 0%, 
                rgba(202, 71, 160, 0.052938) 18.45%, 
                rgba(202, 71, 160, 0) 100%);

}

.block_violet::before {
    top: 15px;
    background: radial-gradient(47.67% 47.67% at 50% 50%, 
                rgba(74, 0, 255, 0.12) 0%, 
                rgba(79, 0, 255, 0.0756) 18.45%, 
                rgba(75, 0, 255, 0) 100%);
}

.block_blue::before {
    top: 20px;
    background: radial-gradient(47.67% 47.67% at 50% 50%, 
                rgba(157, 191, 255, 0.12) 0%, 
                rgba(157, 191, 255, 0.0264) 18.45%, 
                rgba(157, 191, 255, 0) 100%);
}

.block_green::before {
    top: 25px;
    background: radial-gradient(59.44% 59.44% at 50.03% 38.28%,         
                rgba(2, 252, 177, 0.12) 0%, 
                rgba(2, 252, 177, 0.0264) 18.45%, 
                rgba(2, 252, 177, 0) 100%);
}

.block__img {
    position: absolute;
    width: 100px;
    height: 100px;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.block__text {
    margin-top: 15px;
}
/* block end */

/* art start */
.art {
    margin-top: 120px;
}

.art__tabs {
    margin-top: 60px;
}

.art__cards {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    transition: .3s;
}

.art__cards_visible {
    opacity: 1;
    pointer-events: unset;
    position: unset;
}

.art__card {
    margin-left: 25px;
}

.art__card:first-child {
    margin-left: 0;
}
/* art end */

/* tab start */
.tab__list {
    display: flex;
    align-items: center;
    justify-content: center;
}
.tab__item {
    width: 160px;
    height: 55px;
    margin-left: 25px;
    padding: 10px;
    background: rgba(46, 47, 64, 0.3);
    backdrop-filter: blur(4px);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s;
}

.tab__item_active,
.tab__item:hover {
    background: var( --base-gradient);
}

.tab__item:first-child {
    margin-left: 0;
}

.tab__title {
    opacity: 1;
    text-transform: uppercase;
}
/* tab end */

/* card start */
.card {
    max-width: 345px;
    width: 100%;
    padding: 30px;
    background: rgba(46, 47, 64, 0.3);
    backdrop-filter: blur(4px);
    border-radius: 2px;
}

.card__picture {
    width: 285px;
    height: 180px;
}

.card__photo {
    position: relative;
    width: 285px;
    height: 155px;
    border-radius: 2px;
}

.card__photo-artist {
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    width: 93px;
    height: 93px;
}

.card__description {
    margin-top: 30px;
}

.card__title {
    margin-top: 60px;
}

.card__text {
    margin-top: 15px;
    text-align: center;
    opacity: 0.6;
}

.card__btn {
    margin-top: 25px;
}

.card__price {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.icon-price {
    width: 16px;
    height: 30px;
}

.description {
    display: flex;
    justify-content: space-between;
}

.price {
    text-align: right;
}

.price-number {
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    color: var(--green);
}
/* card end */

/* partners start */
.partners {
    margin-top: 130px;
    transform: hue;
}

.partners-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.partners__img {
    width: 140px;
    height: 45px;
    object-fit: contain;
}
/* partners end */


/* artists start */
.artists {
    margin-top: 115px;
}

.artists__cards {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.artists__card {
    margin-left: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.artists__card:first-child {
    margin-left: 0;
}
/* artists end */

/* create start */
.create {
    margin-top: 130px;
    text-align: center;
    position: relative;
}

.create::before {
    content: '';
    position: absolute;
    background-image: url('/img/create-elipse-bg.png');
    background-repeat: no-repeat;
    width: 400px;
    height: 395px;
    top: -90px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.create__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 610px;
}

.create__text {
    margin-top: 25px;
}

.create__btn {
    margin-top: 35px;
}
/* create end */

/* footer start */
.footer {
    margin-top: 130px;
    padding: 40px 0;
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__item {
    margin-left: 80px;
}

.footer__item:first-child {
    margin-left: 0;
}

.footer__link {
    font-weight: 500;
    transition: 0.3s;
}

.footer__link:hover {
    opacity: 0.6;
}
/* footer end */

.page {
    overflow: hidden;
}

.timer__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.timer__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    font-size: 31px;
    line-height: 140%;
}

.timer__text {
    font-size: 13px;
    line-height: 130%;
    opacity: 0.5;
    margin-top: 10px;
}